.help-inline{
    display:inline-block;
    color:red;
    font-style: italic;
    font-size:75%;
    text-indent: 10px;
}

.table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table-highlight tbody tr:hover {
    background-color: #CCE7E7;
}
.table-horizontal tbody td {
    border-left: none;
    border-right: none;
}


#footer {
    position:absolute;
    bottom:-150px;
    width:100%;
}
